<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjy.mapper.PostMapper">
	
	<resultMap type="com.zjy.model.User" id="userMap">
		<id column="uid" property="uid"/>
		<result column="username" property="username"/>
		<result column="head_url" property="headUrl"/>
	</resultMap>
	
	<resultMap type="com.zjy.model.Post" id="postMap">
		<id column="pid" property="pid"/>
		<result column="title" property="title"/>
		<result column="publish_time" property="publishTime"/>
		<result column="reply_time" property="replyTime"/>
		<result column="reply_count" property="replyCount"/>
		<result column="like_count" property="likeCount"/>
		<result column="scan_count" property="scanCount"/>
		<association property="user" javaType="com.zjy.model.User" resultMap="userMap"></association>
	</resultMap>
	
	<resultMap type="com.zjy.model.Post" id="post2Map">
		<id column="pid" property="pid"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="publish_time" property="publishTime"/>
		<result column="reply_time" property="replyTime"/>
		<result column="reply_count" property="replyCount"/>
		<result column="like_count" property="likeCount"/>
		<result column="scan_count" property="scanCount"/>
		<association property="user" javaType="com.zjy.model.User" resultMap="userMap"></association>
	</resultMap>
	
</mapper>